@charset "utf-8";

        /*
            Portfolio Project
            Personal Project
            
            Author: Austin Andrews
            Cite's:
            Date: December 3rd Through December 17th
            
            
            */

body {
    margin: 0 auto;
    min-width: 641px;
    background:radial-gradient(ellipse closest-corner at center, darkgrey, black );
    width: 75%;
    min-height: 950px;
}
           
           
html {
	margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
}



.footer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    clear: both;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    color: #FA8072;
    widows: 100;
    orphans: 100;
}



